* {
  margin: 0;
  padding: 0;
  font-size: 1em;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  text-transform: capitalize;
}

html {
  font-size: 62.5%;
}

a {
  color: rgba(0, 0, 0, 0.87);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

input {
  border-style: none;
  background: none;
}

/* nav style */

.nav-bar {
  display: inline-block;
  width: 100%;
  padding: 0.6em;
}

.nav-right {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  justify-content: flex-end;
}
.nav-right > a {
  padding: 0.9em;
}

.nav-text {
  text-align: center;
  font-size: 1.3em;
}

.app,
.app-icon,
.profile,
.profile-picture,
.nav-text {
  align-self: center;
}

.app {
  color: #5f6368;
}

.app:hover {
  border-radius: 50%;
  background-color: rgb(60,64,67,0.08)
}

.profile-picture {
  border-radius: 50%;
}

/* main style */

.logo-box {
  position: absolute;
  left: 50%;
  top: 31%;
  transform: translate(-50%, -50%);
}

.main-container {
  position: absolute;
  left: 50%;
  top: 42%;
  transform: translate(-50%, -50%);
}

.search-container {
  width: 56em;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 45px;
  margin-bottom: 36px;
}

.search-container:hover {
  box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
  border-color: rgba(223,225,229,0);
}

.search-box {
  width: 90%;
  display: flex;
  align-items: center;
}

.textarea {
  width: 100%;
  padding: 13px 0;
}
.text {
  width: 100%;
  font-size: 1.4em;
}

.text:focus {
  outline: none;
}

.search-icons {
  align-self: center;
  cursor: pointer;
}

.mic-icon {
  margin-right: -12px;
  padding-left: 20px;
}

.search-icon {
  margin-left: -12px;
  padding-right: 10px;
  color: #9aa0a6;
}

.btns {
  text-align: center;
}

.inpt-search,
.inpt-lucky {
  background-color: #f8f9fa;
  padding: 10px 16px;
  font-size: 1.4em;
  color: #3c4043;
}
.inpt-search {
  margin-right: 4px;
}

.inpt-lucky  {
  margin-left: 4px;
}

.inpt-search:hover,
.inpt-lucky:hover {
  box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
  border: 1px solid #dadce0;
}

/* footer style */

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #f2f2f2;
}

.location {
  padding: 15px 0;
  font-size: 1.5em;
  padding-left: 30px;
  border-bottom: 1px solid #dadce0;
  color: rgba(0,0,0,.54);
}

.links {
  padding: 14px 0;
  width: 100%;
  display: flex;
}

.left,
.right {
  width: 50%;
}

.left-links>a,
.right-links>a {
  color: #70757a;
  font-size: 1.4em;
}

.left-links {
  float: left;
  width: 85%;
}

.left-links>a {
  padding-left: 50px;
}

.right-links {
  width: 85%;
  float: right;
  text-align: right;
}

.right-links>a {
  padding-right: 50px;
}